#!/usr/bin/env bash

#prep for the ansible provisioner:
sleep 5
sudo apt-get update
sudo apt-get install -y python-dev libssl-dev libffi-dev
sudo apt-get install -y git
sudo apt-get install -y python-pip
sudo apt-get install -y software-properties-common
sudo pip install boto
sudo pip install "http://releases.ansible.com/ansible/ansible-{{ base_ansible_version }}.tar.gz"
sudo pip install --upgrade setuptools
