#!/usr/bin/env bash

sleep 5
sudo yum -y install epel-release
sudo yum -y install python-devel python-pip
sudo yum -y groupinstall 'Development Tools'
sudo pip install boto
sudo pip install "http://releases.ansible.com/ansible/ansible-{{ base_ansible_version }}.tar.gz"
sudo pip install --upgrade setuptools
